extends: default
rules:
  document-start: disable
  line-length: {max: 160}
  truthy: {check-keys: false}
  braces: {max-spaces-inside: 1}
ignore: |
  platform/llm/assistant-api/rollout-transform.yaml
